{% extends 'base_no_cart_show.html' %}
{% load staticfiles %}
{% block title %}天天生鲜-购物车{% endblock title %}
{% block page_title %}购物车{% endblock page_title %}
{% block topfiles %}
    <script src="{% static 'js/jquery-1.12.4.min.js' %}"></script>
    <script>
//--------------------------------------------js--------------------------------------------------------
        $(function () {
            update_all_goods_info()
            update_cart_count()
            //全选和全不选
            $('.settlements').find(':checkbox').change(function () {
                // 获取当前checkbox的选中状态
                is_check = $(this).prop('checked');
                // 遍历并设置商品中ul的checkbox状态
                $('.cart_list_td').find(':checkbox').each(function () {
                    $(this).prop('checked',is_check)
                });
                               update_all_goods_info()

            });
            // ulcheck改变全选也改变
            $('.cart_list_td').find(':checkbox').change(function () {
               //获取所有chenck
                all_len = $('.cart_list_td').find(':checkbox').length;
                //获取所有checked
                check_len = $('.cart_list_td').find(':checked').length;
                if(all_len > check_len){
                    //点击的小于所有的
                    $('.settlements').find(':checkbox').prop('checked',false)
                }
                else{
                    $('.settlements').find(':checkbox').prop('checked',true)
                }
                update_all_goods_info()
            });

            //绑定 + 事件
            $('.add').click(function () {
               var goods_count = $(this).next().val();
               var goods_id = $(this).next().attr('goods_id');
               update_remote_cart_count(goods_id,parseInt(goods_count)+1);
                if(error_update==false){
                    // 商品数量+1
                   goods_count = parseInt(goods_count)+ 1;
                    // 设置购物车商品数量
                    $(this).next().val(goods_count);
                    // 当前商品是否选中
                    is_check = $('this').parents('ul').find(':checkbox').prop('checked');
                    if (is_check==true){
                       // 如果选中
                        update_all_goods_info()
                    }
                    else{
                        update_goods_info($(this).parents('ul'))
                    }
                    update_cart_count()

                }

            });
                 // 实现商品的减少
        $('.minus').click(function () {
            // 1.获取原有购物车中商品的数目
            goods_count = $(this).prev().val()
            // 获取商品的id
            goods_id = $(this).prev().attr('goods_id')
            if (parseInt(goods_count)-1 > 0)
            {
                // 2.更新数据库中s_cart表中的数据
                update_remote_cart_count(goods_id, parseInt(goods_count)-1)

                // 更新成功
                if (error_update == false){
                     // 2.数目-1
                    goods_count = parseInt(goods_count)-1
                    // 3.设置购物车商品数量
                    $(this).prev().val(goods_count)
                    // 4.判断当前商品是否选中
                    is_checked = $(this).parents('ul').find(':checkbox').prop('checked')
                    if (is_checked == true){
                        update_all_goods_info()
                    }
                    else
                    {
                        update_goods_info($(this).parents('ul'))
                    }
                    update_cart_count()
                }
            }
        })




//-------------------------------------------- function----------------------------------------
  //更新数据库
            //计算所有商品的小计 和商品总数和总价
       function update_all_goods_info() {
        goodss_count = 0
        totals_price = 0
        $('.cart_list_td').find(':checked').parents('ul').each(function () {
            total_dic = update_goods_info($(this))
           // alert(total_dic['goods_count'])
            //alert(total_dic['total_price'])
            //将返回字典中两个值进行累加
            goodss_count += total_dic['goods_count']
            totals_price += total_dic['total_price']


        //进行总数和总价设置
    })
        $('.settlements').find('em').text(totals_price.toFixed(2)+'元');
        $('.settlements').find('b').text(goodss_count)
    }

    // 计算某一商品的小计
    function update_goods_info(goods_ul) {
        // 获取当前页面的商品数量和价格
        goods_count = goods_ul.find('.num_show').val();
        goods_count = parseInt(goods_count);
        goods_price = goods_ul.children('.col05').text();
        goods_price = parseFloat(goods_price);
        total_price = goods_price*goods_count;
        //计算小计
        goods_ul.children('.col07').text(total_price.toFixed(2)+'元');
        //返回值
        return {'goods_count':goods_count,'total_price':total_price}
    }
    
    //更新页面中购物车详情
            function update_cart_count() {
                $.get('/cart/count/',function (data) {
                    $('.total_count').children('em').text(data.res)
                });
            }
     // 更新数据库中信息
            error_update = false
            function update_remote_cart_count(goods_id,goods_count) {
                $.ajax({
                        'url': '/cart/update/?goods_id=' + goods_id + '&goods_count=' + goods_count,
                        'async':false,
                        'success':function (data) {
                            if(data.res==0){
                                error_update = true
                            }
                            else{
                                error_update = false
                            }
                        }
                    }
                )
            }
            


})


    </script>
{% endblock topfiles %}
{% block body %}
	<div class="total_count">全部商品<em>2</em>件</div>
	<ul class="cart_list_th clearfix">
		<li class="col01">商品名称</li>
		<li class="col02">商品单位</li>
		<li class="col03">商品价格</li>
		<li class="col04">数量</li>
		<li class="col05">小计</li>
		<li class="col06">操作</li>
	</ul>
    {% for cart_info in cart_list %}
	<ul class="cart_list_td clearfix">
		<li class="col01"><input type="checkbox" name="" checked></li>
		<li class="col02"><img src="{% static cart_info.goods.img_url %}"></li>
		<li class="col03">{{ cart_info.goods.goods_name }}<br><em>{{ cart_info.goods.goods_price }}/{{ cart_info.goods.goods_unite }}</em></li>
		<li class="col04">{{ cart_info.goods.goods_unite }}</li>
		<li class="col05">{{ cart_info.goods.goods_price }}</li>
		<li class="col06">
			<div class="num_add">
				<a href="javascript:;" class="add fl">+</a>
				<input type="text" class="num_show fl" goods_id="{{ cart_info.goods.id }}" value="{{ cart_info.goods_count }}">
				<a href="javascript:;" class="minus fl">-</a>	
			</div>
		</li>
		<li class="col07">25.80元</li>
		<li class="col08"><a href="javascript:;">删除</a></li>
	</ul>
	{% endfor %}

	<ul class="settlements">
		<li class="col01"><input type="checkbox" name="" checked=""></li>
		<li class="col02">全选</li>
		<li class="col03">合计(不含运费)：<span>¥</span><em>42.60</em><br>共计<b>2</b>件商品</li>
		<li class="col04"><a href="place_order.html">去结算</a></li>
	</ul>
{% endblock body %}