{% extends 'base.html' %}

{% load staticfiles %}
	{% block title %}天天生鲜-提交订单{% endblock title %}
{% block topfiles %}
    <script src="{% static 'js/jquery-1.12.4.min.js' %}"></script>
    <script>
    $(function () {
        //记录商品数量和总价格
        var goods_total_count = 0;
        var goods_total_sprice= 0;
        $('.goods_list_td').each(function () {
            //取出每个商品的数量
            var goods_count = $(this).find('.col06').text();
            var goods_count = parseInt(goods_count);
            //取出每个商品的价格
            var goods_price = $(this).children('.col05').text();
            var goods_price = parseFloat(goods_price);
            //计算小计并设置
            var total_price = goods_price*goods_count;
            $(this).find('.col07').text(total_price.toFixed(2)+'元');
            goods_total_count += goods_count;
            goods_total_sprice += total_price;
        });
        //设置下方总金额
        $('.total_goods_count').find('b').text(goods_total_sprice);
        //设置总件数
        $('.total_goods_count').find('em').text(goods_total_count);
        var order_total_sprice = goods_total_sprice+10;
        //设置订单价格
        $('.total_pay').find('b').text(order_total_sprice.toFixed(2)+'元');

    })
    </script>
{% endblock topfiles %}
{% block search_bar %}
	<div class="search_bar clearfix">
		<a href="/" class="logo fl"><img src="{% static 'images/logo.png' %}"></a>
		<div class="sub_page_name fl">|&nbsp;&nbsp;&nbsp;&nbsp;提交订单</div>
		<div class="search_con fr">
            <form action="/search/" method="get">
			<input type="text" class="input_text fl" name="q" placeholder="搜索商品">
			<input type="submit" class="input_btn fr" name="" value="搜索">
            </form>
		</div>		
	</div>
{% endblock search_bar %}
{% block body %}
	<h3 class="common_title">确认收货地址</h3>

	<div class="common_list_con clearfix">
		<dl>
			<dt>寄送到：</dt>
            {% if addr %}
			    <dd><input type="radio" name="addr_id" value="{{ addr.id }}" checked="">{{ addr.recipient_addr }} （{{ addr.recipient_name }} 收） {{ addr.recipient_phone }}</dd>
		    {% else %}
                <dd>无</dd>
            {% endif %}
        </dl>
		<a href="user_center_site.html" class="edit_site">编辑收货地址</a>

	</div>

	<h3 class="common_title">支付方式</h3>	
	<div class="common_list_con clearfix">
		<div class="pay_style_con clearfix">
			<input type="radio" name="pay_style" checked value="1">
			<label class="cash" >货到付款</label>
			<input type="radio" name="pay_style" value="2">
			<label class="weixin">微信支付</label>
			<input type="radio" name="pay_style" value="3">
			<label class="zhifubao"></label>
			<input type="radio" name="pay_style" value="4">
			<label class="bank">银行卡支付</label>
		</div>
	</div>

	<h3 class="common_title">商品列表</h3>
	
	<div class="common_list_con clearfix">
		<ul class="goods_list_th clearfix">
			<li class="col01">商品名称</li>
			<li class="col02">商品单位</li>
			<li class="col03">商品价格</li>
			<li class="col04">数量</li>
			<li class="col05">小计</li>		
		</ul>
        {% for goods_info in cart_list %}
		<ul class="goods_list_td clearfix">
			<li class="col01">{{ forloop.counter }}</li>
			<li class="col02"><img src="/static/{{ goods_info.goods.img_url }}"></li>
			<li class="col03">{{ goods_info.goods.goods_name }}</li>
			<li class="col04">{{ goods_info.goods.goods_unite }}</li>
			<li class="col05">{{ goods_info.goods.goods_price }}元</li>
			<li class="col06">{{ goods_info.goods_count }}</li>
			<li class="col07">20元</li>
		</ul>
    {% endfor %}

	</div>

	<h3 class="common_title">总金额结算</h3>

	<div class="common_list_con clearfix">
		<div class="settle_con">
			<div class="total_goods_count">共<em>2</em>件商品，总金额<b>42.60元</b></div>
			<div class="transit">运费：<b>10元</b></div>
			<div class="total_pay">实付款：<b>52.60元</b></div>
		</div>
	</div>

	<div class="order_submit clearfix">
    {% csrf_token %}
		<a href="javascript:;" cart_id_list="{{ cart_id_list }}" id="order_btn" >提交订单</a>
	</div>	
{% endblock body %}
	{% block cart_count %}

	<div class="popup_con">
		<div class="popup">
			<p>订单提交成功！</p>
		</div>
		
		<div class="mask"></div>
	</div>
    {% endblock cart_count %}
 {# 网页底部引入文件块 #}
	{% block bottomfiles %}
	<script type="text/javascript" src="{% static 'js/jquery-1.12.4.min.js' %}"></script>
	<script type="text/javascript">
		$('#order_btn').click(function() {
		    //购物车信息列表
			var cart_id_list = $(this).attr('cart_id_list');
			//收货地址
			var addr_id = $('input[name="addr_id"]').val();
			//支付方式
            var pay_method = $('.pay_style_con').find(':checked').val();
            prams = {
                'cart_id_list':cart_id_list,
                'addr_id':addr_id,
                'pay_method':pay_method
            };
            $.post('/order/commit/',prams,function (data) {
                if(data.res==0){
                    alert('库存不足!')

            }
                else if(data.res==-1){
                    alert('服务器异常!')
                }

                else{
                    localStorage.setItem('order_finish',2);

			$('.popup_con').fadeIn('fast', function() {

				setTimeout(function(){
					$('.popup_con').fadeOut('fast',function(){
						window.location.href = '/user/order/';
					});
				},3000)

			});
                }


            })

            /*
		    localStorage.setItem('order_finish',2);

			$('.popup_con').fadeIn('fast', function() {

				setTimeout(function(){
					$('.popup_con').fadeOut('fast',function(){
						window.location.href = '/user/order/';
					});
				},3000)
				
			});*/
		});
	</script>
{% endblock bottomfiles %}