{% extends 'base_user_center.html' %}
{% block right_content %}
		<div class="right_content clearfix">
				<h3 class="common_title2">全部订单</h3>
				{% for order_base in order_basic_list %}
				<ul class="order_list_th w978 clearfix">
					<li class="col01">{{ order_base.createtime }}</li>
					<li class="col02">订单号：{{ order_base.order_id }}</li>
                    <li class="col02 stress">已支付</li>
				</ul>
				<table class="order_list_table w980">
					<tbody>
						<tr>
							<td width="55%">
                                {% for order_detail in order_base.order_detail_list %}
								<ul class="order_goods_list clearfix">					
									<li class="col01"><img src="/static/{{ order_detail.img_url }}"></li>
									<li class="col02">{{ order_detail.goods.goods_name }}<em>{{ order_detail.goods.goods_unite }}</em></li>
									<li class="col03">{{ order_detail.goods_count }}</li>
									<li class="col04">{{ order_detail.goods_price }}元</li>
								</ul>
                                    {% endfor %}

							</td>
							<td width="15%">33.60元</td>
							<td width="15%">已付款</td>
							<td width="15%"><a href="#" class="oper_btn">查看物流</a></td>
						</tr>

    					</tbody>
				</table>
             {% endfor %}

				<div class="pagenation">
					<a href="#"><上一页</a>
					<a href="#" class="active">1</a>
					<a href="#">2</a>
					<a href="#">3</a>
					<a href="#">4</a>
					<a href="#">5</a>
					<a href="#">下一页></a>
				</div>
		</div>
{% endblock right_content %}
